name: Test, Build and Push Docker Images

on: 
  #push:
    #branches:
        #- main

  #schedule:
  #- cron: '* 1 * * *'

  workflow_dispatch:

env:
    CONTAINER_REGISTRY: docker.io
    IMAGE_NAME: calculator-app

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:

        - name: Checkout Repo
          uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'

        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Run Tests
          run: |
            PYTHONPATH=src pytest

        - name: Login to Docker Hub
          run: |
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
              --username "${{ vars.DOCKER_USERNAME }}" \
              --password-stdin

        - name: Build Docker Image
          run: |
            docker build -t ${{ env.CONTAINER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest .
        
        - name: Push Docker Image
          run: |
            docker push $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest

    deploy:
        needs: docker
        concurrency: 
          group: production-deployment
          cancel-in-progress: false
        runs-on: ubuntu-latest
        steps:
        - name: Run container from Docker Hub image
          run: |
            echo docker run -d -p 8080:80 $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest