name: Workflow Filters and Activities

on:
    push:
        branches:
            - main
            - '!feature/*'
    
    pull_request: 
        types: 
            - opened
            - closed
        paths-ignore: 
            - README.md
        branches:
            - main

jobs:
    hello-job:
        runs-on: ubuntu-latest
        steps:
        - run: echo this workflow/job/step is executed for event type - ${{ github.event_name }}